body{
	background-color: #353A47;
	margin: auto;
	text-align: center;
	font-family: "Oswald";
	max-width: 70%;
}



div{
	background-color: #ffd700;
	color: black;
	border: 2px solid black;
	text-align: center;
	font-family: "Oswald";
}

h1{
	background-color: #ffa500;
	margin-bottom: 10px;
	border: 2px solid black;
	font-size: 45px;
}

p{
	font-size: 25px;
}